*{
  font-family: "Rounded Mplus 1c";
}
body{
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--secondaryLightColor);
}

header{
  background-color: var(--primaryBaseColor);
  box-sizing: border-box;
  padding: 0px 0px 0px 30px;
  height: 64px;
  width: 100%;
}

header *{
  color: var(--secondaryLightColor);
}

h1{
  position: relative;
  float: left;
  line-height: 64px;
  box-sizing: border-box;
  font-weight: 200;
  margin: 0px;
}

main{
  box-sizing: border-box;
  padding: 0px 30px;
  font-weight: 300;
  width: 70%;
}

a{
  color: var(--secondaryLightColor);
  text-decoration: none;
}

th{
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
}

td{
  font-size: 1.2em;
}

table{
  position: relative;
  width: 100%;
  height: 700px;
}

#clock{
  position: relative;
  float: right;
  line-height: 64px;
  padding-right: 30px;
  margin: 0px;
}

#hamburger-menu, #sidebar{
  transition: 0.3s ease-out;
}

#hamburger-menu{
  position: relative;
  float: right;
  height: 64px;
  width: 64px;
  background-image: url("./hamburger.svg");
  background-size: cover;
  cursor: pointer;
}
#hamburger-menu.open{
  background-image: url(./hamburger_close.svg);
}
#sidebar{
  position: fixed;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 30%;
  left: 100%;
  height: 100%;
  word-wrap : break-word;
  overflow-wrap : break-word;
  background-color: var(--primaryLightColor);
}
#sidebar a{
  position: relative;
  font-size: 1.1em;
}
#sidebar.open{
  left: 70%;
}

@media handheld, only screen and (max-width: 767px) {
  main{
    width: 100%;
  }
  h1{
    padding: 0px 5px;
    font-size: 1.2em;
  }
  th{
    text-align: center;
  }
  tr{
    height: 60px;
  }
  td{
    height: 60px;
    padding: 0px 0px;
  }
  #clock{
    display: none;
  }
  #sidebar{
    width: 80%;
  }
  #sidebar.open{
    left: 20%;
  }
}